@tailwind base;
@tailwind components;
@tailwind utilities;

.img {
  @apply object-cover w-full h-full;
}

.green-btn {
  @apply bg-secondary-light rounded-[10px] h7 font-semibold px-[1.5rem] py-[1rem] font-sans;
}

.view-all-btn {
  @apply border px-8 py-3 mt-10 border-secondary-dark text-secondary-dark uppercase text-[12px] font-semibold hover:bg-white duration-300;
}

.light-green-btn {
  @apply bg-secondary-extraLight border border-transparent hover:bg-white hover:border-secondary-extraLight focus:bg-slate-200 duration-300 uppercase py-2 px-5 md:px-10 h7 flex items-center justify-center gap-2;
}

.h1 {
  @apply text-[24px] md:text-[42px] text-black font-merriweather  leading-[50px];
}

.h2 {
  @apply text-[29px] md:text-[35px];
}

.h3 {
  @apply text-[19px] md:text-[29px] text-black font-merriweather;
}

.h4 {
  @apply text-[12px] md:text-[24px] text-black;
}

.h5 {
  @apply text-[17px] md:text-[20px];
}

.h6 {
  @apply text-[15px] md:text-[17px];
}

.h7 {
  @apply text-[12px] md:text-[14px];
}

.h8 {
  @apply text-[12px] md:text-[12px];
}

.h9 {
  @apply text-[9px] md:text-[10px];
}

.h10 {
  @apply text-[8px];
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
